/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
=======================================
General
=======================================
*/

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=cyrillic');

*, *:after, *:before {
  box-sizing: border-box;
}


.html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.container {
  max-width: 81.875rem;
  margin: 0 auto;
  padding-right: 0;
  padding-left: 0;

}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.link {
  cursor: pointer;
  text-decoration: none;
}

.button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 1px solid #e1e1e1;
  font-family: inherit;
}

.primary-shadow {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
}

/*
=======================================
Header
=======================================
*/

.header {
  align-items: center;
  padding: 0.5rem 0.8rem;
  border-bottom: 1px solid #e1e1e1;
}

.header-right {
  margin-left: auto;
}


.header__logo {
  margin-left: 1.5rem;
}

.header-button {
  border: none;
  height: 2.5rem;
  fill: #777;
  padding: 0.5rem;
}

.header-button:hover{
  background-color: rgba(60,64,67,0.08);
  border-radius: 50%;
}

/*
=======================================
Translation block
=======================================
*/

.translation-block {
  margin-top: -7rem;
  border-radius: 0.5rem;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}

.translation-block__language-selector {
  border-bottom: 1px solid #e1e1e1;
  border-radius: 0.5rem 0.5rem 0 0;
}

.translation-block__input {
  border-radius: 0 0 0 0.5rem;
}

.translation-block__output {
  border-radius: 0 0 0.5rem 0;
}

/*
=======================================
Translator
=======================================
*/

.translator__input {
  background-color: white;
}

.translator__textarea {
  width: 100%;
  border: none;
  resize: none;
  outline: none;
  border-radius: inherit;
  font-family: inherit;
  font-size: 1.5rem;
  background-color: inherit;
  padding: 1rem 1.5rem;
}

.translator__output {
  background-color: #f5f5f5;
}

.translator__button {
  background-repeat: no-repeat;
  background-size: contain;
  height: 1rem;
  width: 1rem;
  padding: 0;
  margin: 1.2rem 1rem;
  border: none;
  cursor: initial;
  opacity: 0.55;
}

.translator__button_clear {
  background-image: url(./images/close.png);
}

.translator__button_star {
  background-image: url(./images/star.png);
  width: 1.3rem;
  height: 1.3rem;
}

/*
=======================================
Hints block
=======================================
*/

.hints-block {
  padding: 0.5rem 0;
}

.hints-block__hint {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #e1e1e1;
  margin-bottom: 0.5rem;
}

.hints-block__hint p {
  padding: 0.5rem 0;
  color: #777;
}

.hints-block__hint h4 {
  padding: 0.5rem 0;
}

.hints-block_column:nth-child(1) {
  padding-right: 0.25rem
}

.hints-block_column:nth-child(2) {
  padding-left: 0.25rem
}

/*
=======================================
Language selector navbar
=======================================
*/

.language-selector {
  background-color: white;
}

.language-selector__language-button {
  color: #777;
  font-weight: bold;
  border: none;
  padding: 1rem;
}

.language-selector__language-button:active {
  background-color: #f5f5f5;
}

.language-selector__language-button_active {
  color: #4285f4;
  border-bottom: 3px solid #4284f3;
}

.language-selector__language-button_more {
  background-image: url(https://ssl.gstatic.com/images/icons/material/system_gm/1x/keyboard_arrow_down_grey600_24dp.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 1rem 1.7rem;
  cursor: initial;
}

.language-selector__language-button_switch {
  background-image: url(/images/language_switch.png);
  background-position: center;
  background-repeat: no-repeat;
  padding: 1rem 1.6rem;
  border-radius: 50%;
  opacity: 0.55;
}

.language-selector__language-button_switch:hover {
  opacity: 1;
}
/*
=======================================
Translate mode navbar
=======================================
*/

.translate-mode {
  background-color: #fafafa;
  border-bottom: 1px solid #e1e1e1;
  padding: 0.2rem 0 8rem 0;
}

.translate-mode__switcher {
  position: relative;
  color: #1a73e8;
  font-size: 1rem;
  font-weight: 500;
  background-color: transparent;
  border: 1px solid #e1e1e1;
  border-radius: 0.2rem;
  padding: 0.5rem 0.8rem 0.5rem 2.5rem;
  margin: 0.5rem 0.2rem;
}

.translate-mode__switcher_active {
  background-color: rgba(66,133,244,0.12);
  border-color: #d2e3fc;
}

.translate-mode__switcher:before {
  content: '';
  position: absolute;
  left: 0.75rem;
  height: 1.2rem;
  width: 1.2rem;
  background-position: center;
  background-size: cover;
}

.translate-mode__switcher_documents:before {
  background-image: url(https://ssl.gstatic.com/translate/ic_insert_drive_file_googblue600_20dp.svg)
}

.translate-mode__switcher_text:before {
  background-image: url(https://ssl.gstatic.com/translate/ic_translate_googblue600_20dp.svg) 
}

/*
=======================================
Google account
=======================================
*/

.google-account__avatar {
  height: 2.6rem;
  padding: 0.3rem
}

/*
=======================================
Logo
=======================================
*/

.logo {
  align-items: start;
}

.logo__name {
  font-size: 1.3rem;
  margin-left: 0.5rem;
  color: #777;
}

/*
=======================================
Media queries
=======================================
*/

/* small only */
@media screen and (max-width: 39.9375rem) {
  .s-50 {
    flex-basis: 50%;
  }

  .s-100 {
    flex-basis: 100%;
  }

  .m-order-1 {
    order: 1;
  }
  
  .m-order-2 {
    order: 2;
  }

  .translation-block {
    margin-top: 0;
    border-top: none;
  }

  .translator__output {
    background-color: #1a73e8;
  }

  .header__apps {
    display: none;
  }

  .translate-mode {
    display: none;
  }

  .language-selector__language-from {
    justify-content: center;
  }

  .language-selector__language-in {
    justify-content: center;
  }
  
  .language-selector__language-button {
    display: none;
  }

  .language-selector__language-button_active, .language-selector__language-button_switch {
    display: initial;
  }
  
  .language-selector__language-button {
    padding: 0.7rem;
  }

  .language-selector__language-button_switch {
    padding: 0.7rem 1.3rem;
  }

  .language-selector__language-button_active {
    border: none;
  }
}

/* medium and up */
@media screen and (min-width: 40rem) {
  .m-50 {
    flex-basis: 50%;
  }

  .language-selector__language-from {
    overflow-x: auto;
    white-space: nowrap;
  }

  .language-selector__language-in {
    margin-left: 1rem;
  }

  .header__google-account  {
    margin-left: 1rem;
  }
}

/* after container collapse */
@media screen and (max-width: 81rem) {
  .translation-block {
    box-shadow: none;
  }

  .translation-block, .translation-block__input, .translation-block__output {
    border-radius: 0;
  }

  .translate-mode {
    padding-left: 1rem;
  }

  .hints-block {
    padding: 0.5rem;
  }
}