/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
=======================================
General
=======================================
*/

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&subset=cyrillic');

*, *:after, *:before {
  box-sizing: border-box;
}

.html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.link {
  cursor: pointer;
  text-decoration: none;
}

.button {
  cursor: pointer;
}

/*
=======================================
Header
=======================================
*/

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem 0.8rem;
  border-bottom: 1px solid #e1e1e1;
}

.header-right {
  margin-left: auto;
}


.header__logo {
  margin-left: 1.5rem;
}

.header-button {
  height: 2.5rem;
  fill: #777;
  padding: 0.5rem;
}

.header-button:hover{
  background-color: rgba(60,64,67,0.08);
  border-radius: 50%;
}

/*
=======================================
Google account
=======================================
*/

.google-account__avatar {
  height: 2.6rem;
  padding: 0.3rem
}

/*
=======================================
Logo
=======================================
*/

.logo {
  display: flex;
  flex-direction: row;
  align-items: start;
}

.logo__name {
  font-size: 1.3rem;
  margin-left: 0.5rem;
  color: #777;
}

/*
=======================================
Media queries
=======================================
*/

/* small only */
@media screen and (max-width: 39.9375rem) {
  .header__apps {
    display: none;
  }
}

/* medium and up */
@media screen and (min-width: 40rem) {
  .header__google-account  {
    margin-left: 1rem;
  }
}